apiVersion: v1
kind: Config
clusters:
- name: "cluster1"
  cluster:
    server: "https://kubernetes.company.com/"
    api-version: v1

users:
- name: "someone"
  user:
    token: "token"

contexts:
- name: "cluster1"
  context:
    user: "someone"
    cluster: "cluster1"

current-context: "cluster1"
